h3{
    margin: 1.2rem 5px;
}
.container{
    box-shadow: slategray;
    margin: 5px auto;
    
}

.container .card{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    padding: 2rem;
}

img{
    float: left; 
    width: 150px; 
    height: 150px;
}

.btn-controls a{
    margin: 5px;
}

.detail-section{
    margin-left: 1.2rem;
}

