h3{
    margin: 1.2rem 5px;
}
.container{
    box-shadow: slategray;
    margin: 5px auto;
    
    
    
}

.container .card{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    padding: 2rem;
    background-color: #ededed;
}

span{
    display: flex;
    margin: auto;
    height: 100px;
    width: 100px;
}

.btn-controls a{
    margin: 5px;
}

.detail-section{
    margin-left: 0;
}

.btn-wide{
    width: 100%;
}

body{
    background-image: url('../../bg/globe.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
    
    
}
